Repository elB4RTO/LogDoctor, pull requests merged in 2022-12, with the labels that each got.

#14 Fixes
  build_install.sh
  build_update.sh
  installation_stuff/LogDoctor.desktop
  logdoctor/games/snake/game.h
  logdoctor/mainwindow.cpp
  logdoctor/mainwindow.h
  logdoctor/modules/crapup/crapup.h
  logdoctor/utilities/io.cpp
Labels: enhancement, Fix

#18 Update
  CONTRIBUTING.md
  README.md
Labels: github

#20 Add japonese translations
  logdoctor/translations/LogDoctor_jp.ts
Labels: enhancement, translation

#19 add portuguese translate
  logdoctor/translations/LogDoctor_pt.ts
Labels: enhancement, translation
